* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red
    
}
:root {
    /* Style des titres */
    --main-font: Lato;
    --text-color: black; 
    --h2-font-size: 0.8rem;
    --h1-font-size: 2.3rem;

    /* Style des images */
    --img-widht: 90%;

    /* Style du boutton */
    --button-font-size: 0.7rem;
    --button-background-color: #3A86FF;
    --button-text-color: white; 
    --button-width: 35%;
    --button-height: 2rem;
    --button-margin: 5%;
}

body {
    background-color: #ABB6B6;
}

.headercoffeeshop {
    background-image: url("assets/img/h1\ header.png");
    background-size: cover;
    /*filter: opacity(50%);*/
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 200px;
    margin: auto;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.headercoffeeshop > h1 {
    font-family: var(--main-font);
    font-size: var(--h1-font-size);
    color: var(--text-color);
    text-align: center;
}

.premiereBoisson {
    display: flex;
    flex-direction: column ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.premiereBoisson > h2 {
    padding: 30px 30px 20px;
    text-align: center;
    font-family: var(--main-font);
    font-size: var(--h2-font-size);
    color: var(--text-color);
}

.premiereBoisson > img {
    width: var(--img-widht);
    margin: auto;
}

.premiereBoisson > button {
    width: var(--button-width);
    height: var(--button-height);
    margin: var(--button-margin);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-family: var(--main-font);
    font-size: var(--button-font-size);
}

.moreDrinks {
    display: flex;
    flex-direction: column ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.moreDrinks > h2 {
    padding: 30px 20px 20px 20px ;
    font-family: var(--main-font);
    font-size: var(--h2-font-size);
    color: var(--text-color);
}

.moreDrinks > img {
    width: var(--img-widht);
    margin: 10px;
}

.moreDrinks > button {
    width: var(--button-width);
    height: var(--button-height);
    margin: var(--button-margin);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-family: var(--main-font);
    font-size: var(--button-font-size);
}

@media screen and (min-width: 25.063em) { 
    .headercoffeeshop

}