.body {
  
    margin: 50px;
    text-align: left; 
    }

    /* Styles pour la section "imagecontact" */
.imageforum {
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/img/roman-bozhko-OXXsAafHDeo-unsplash.jpg");
    opacity: 70%;
  }
  
  .imageforum > h1 {
    font-size: var(--h1-font-size);
    color: var(--text-color);
  }
  
  /* Style pour la section */
.columnactualite {
    width: auto;
    /* display: flex; */
    background-color: #f5eee4;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style pour la colonne des actualités */

.columnpost {
    /* flex: 1; */
    text-align: center;
}

.columnpost h2 {
    margin-bottom: 20px;
}

.news-list {
    list-style-type: none;
}

.news-list li {
    padding: 10px;
    margin-bottom: 10px;
    padding: 5px;

    
}

/* .news-list li:last-child {
    margin-bottom: 0;
} */

.news-list a {
    color: #333;
    /* text-decoration: none; */
}

.news-list a:hover {
    color: #4CAF50;
}

/* Style pour le lien "Voir plus" */
.voirplus a {
    text-decoration: none;
    color: #4CAF50;
}

.voirplus a:hover {
    text-decoration: underline;
}

