@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* { 
    margin: 0 ;
    padding: 0;
    /* border: 1px solid red; */
}


:root { 
    --main-font-family: "Lato";
    --main-background-color: #F6F4EF;
    --quote-font-family: "Lily Script One";
    /* --button-background-color: #C9DEB4; */

    /* Style des titres /
        --main-font: Lato;
        --text-color: black; 
        --h2-font-size: 0.8rem;
        --h1-font-size: 2.3rem;
    
        / Style des images /
        --img-widht: 90%;
    
        / Style du boutton */
        /* --button-font-size: 0.7rem;
        --button-background-color: #3A86FF;
        --button-text-color: white; 
        --button-width: 35%;
        --button-height: 2rem;
        --button-margin: 5%; */


}



body { 
    background-color: var(--main-background-color);
}


.header {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center; 
    padding: 40px;
    background-image: url(/assets/img/img-livres/livres_header.png);
    background-size: cover;
    max-height: 90vh ;
    background-repeat: no-repeat;
    font-size: large;
    text-align: center;
}

#site-search { 
    margin: 15px 64px;
    border-radius: 16px;
    width: 70%;
    padding: 8px;
    align-items: center;
    
}

#search-btn { 
   margin: 8px 160px;
   align-items: center;
   padding: 8px;
}

.quote {
    font-family: var(--quote-font-family);
    padding: 24px;
    text-align: center;
}


.section_livres { 
    display: grid;
    justify-content: center;
    box-sizing: border-box;
}

.article  { 
    margin: 1em;
    padding: 1em;
    background: #F6F8F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.3rem solid;
    border-color: #9FCF89;
    border-radius: 2px;
    box-shadow: 2px 3px 5px grey;
}

.article > img {
    width: 100px;
    height: 150px;
}

.article > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    min-height: 10rem;
    justify-content: center;
}

.article button { 
    background-color: #C9DEB4;
    color: black;
    font-family: var(--main-font-family);
    margin-top: 8px;
    padding: 12px;
    font-size: 1em;
}

.article h3 { 
    padding: 8px;
    text-align: center;
    font-family: var(--main-font-family);
}

.article h4 { 
    padding: 8px;
    text-align: center;
}



/* ***************************** Debut du footer *****************************  */
.footer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    background-color:#D7CBC1;
}


.footer > .logos { 
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    width: 15%;
    margin:0 38%;
}

/* .logo-footer img { 
    width: 25px;
    height: 25px;
}

#insta { 
    margin: 0 24px;
}

#fb { 
    margin: 0 24px;
}

#linkedin { 
    margin: 0 24px;
} */

#phrase { 
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: medium;
    padding: 8px;
    text-align: center;
}

/* ***************************** Fin du footer *****************************  */




/* ***************************** Debut des Media Queries *****************************  */

@media screen and (min-width: 401px) { 
    .section_livres { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    #phrase { 
        font-family: var(--main-font-family);
        font-weight: bold;
        font-size: medium;
        padding: 8px;
        text-align: left;
    }


    .footer > .logos { 
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        width: 15%;
        margin:0 42%;
    }


    #site-search { 
        margin: 15px 64px;
        border-radius: 16px;
        width: 55%;
        padding: 8px;
        align-items: center;
        
    }

    #search-btn { 
        margin: 8px 24px;
        align-items: center;
        padding: 8px;
     }


}

/* ***************************** Fin des Media Queries *****************************  */