@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* { 
    margin: 0 ;
    padding: 0;
    border: 1px solid red;
}


:root { 
    --main-font-family: "Lato";
    --main-background-color: #f8f6f2;
    --quote-font-family: "Lily Script One";
    /* --button-background-color: #C9DEB4; */

    /* Style des titres /
        --main-font: Lato;
        --text-color: black; 
        --h2-font-size: 0.8rem;
        --h1-font-size: 2.3rem;
    
        / Style des images /
        --img-widht: 90%;
    
        / Style du boutton */
        /* --button-font-size: 0.7rem;
        --button-background-color: #3A86FF;
        --button-text-color: white; 
        --button-width: 35%;
        --button-height: 2rem;
        --button-margin: 5%; */


}



body { 
    background-color: var(--main-background-color);
}


.header {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center; 
    padding: 40px;
    background-image: url(/assets/img/img-livres/livres_header.png);
    background-size: cover;
    max-height: 90vh ;
    background-repeat: no-repeat;
    text-align: center;
}

.header > h1 { 
    font-size: 2.3rem;
}


/* #site-search { 
    margin: 15px 64px;
    border-radius: 16px;
    width: 70%;
    padding: 8px;
    align-items: center;
}

#search-btn { 
   margin: 8px 160px;
   align-items: center;
   padding: 8px;
} */

.lol {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 300px;
    padding: 5px 0;
    width: 80%;
    justify-content: flex-start;
    margin-left: 10%;
}

#site-search { 
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 11px;
    text-align: center;
}

#search-btn { 
    background: none;
	color: #f8f6f2;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius:300px;
    background-color: #C8B9AB;
    padding: 10px 24px;
}



#search-btn:hover {
    background-color: #a68c77;
}


.quote {
    font-family: var(--quote-font-family);
    padding: 24px;
    text-align: center;
}


.section_livres { 
    display: grid;
    justify-content: center;
    box-sizing: border-box;
}

.article  { 
    margin: 1em;
    padding: 1em;
    background: #F5EEE4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0.3rem solid; */
    border-color: #C8B9AB;
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.article > img {
    width: 100px;
    height: 150px;
}

.article > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    min-height: 10rem;
    justify-content: center;
}

.article button { 
    background-color: #C8B9AB;
    color: #f8f6f2;
    font-family: var(--main-font-family);
    margin-top: 8px;
    padding: 12px;
    font-size: 1em;
    border: none;
    border-radius: 0.3em;
    box-shadow: 2px 3px 5px grey;
}

button:hover {
    background-color: #a68c77;
}


.article h3 { 
    padding: 8px;
    text-align: center;
    font-family: var(--main-font-family);
}

.article h4 { 
    padding: 8px;
    text-align: center;
}


/* ************ Section informations ************ */
        /* Styles pour la section "informations" */

.informations {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5eee4;
  }
  
  .column {
    flex: 1; 
    padding: 50px;
    border-right: 1px solid #ccc;
  }
  
  .column > h2 {
  
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .column > p {
  
    color: #666666;
    font-size: 12px;
    line-height: 1.6;
  }
  
  .map {
    flex: 1;
    height: 300px;
    text-align: center;
    color: #666666;
  }
  
  .map iframe {
    width: 100%;
    height: 100%;
  }
  
  .column:last-child {
    border-right: none;
  }
/* *************** Fin de la section information ********************/ 






/* ***************************** Debut du footer *****************************  */
footer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    background-color:#D7CBC1;
}


footer > .logos { 
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    width: 100%;
}

#phrase { 
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: medium;
    padding: 8px;
    text-align: center;
}

/* ***************************** Fin du footer *****************************  */







/* ***************************** Debut des Media Queries *****************************  */

@media screen and (min-width: 401px) { 
    .section_livres { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    #phrase { 
        font-family: var(--main-font-family);
        font-weight: bold;
        font-size: medium;
        padding: 8px;
        text-align: left;
    }


    footer > .logos { 
        width: 20%;
        margin:0 auto;
    }


    .lol{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 8px 150px;
        padding: 0;
        width: 75%;
        /* margin-right: 25%;
        margin-left: 25%; */
        }

 
    

    #search-btn { 
        margin: 8px;
        align-items: center;
        padding: 16px 40px;
     }


}

/* ***************************** Fin des Media Queries *****************************  */